<style>
	.btn{
		font-size: 20px !important;	    
	    margin:0px !important;
	    margin-top:10px !important;
	    padding:25px !important;
	}
	.btn a{
		text-decoration: none !important; 
		color: black;
	}
	button.btn:nth-child(2n) {
    background-color: #DC143C !important;
}
</style>