.main-wrapper{
	margin:0 auto;
	width: 1000px;
}
body{
	background-color: #ccc;
}
header nav{
	width:100%;
	height:60px;
	background-color:#fff; 
}

header nav ul{
	flot:left;
}

header nav ul li{
	float:left;
	list-style: none;
}

header nav ul li a{
	font-family: arial;
	font-size: 16px;
	color: #111;
	line-height: 63px;
}

header .nav-login{
	float:right;
}

header .nav-login form{
	float:left;
	padding-top: 15px;	
}

header .nav-login form input{
	float:left;
	width:140px;
	height:30px;
	padding:0px 10px;
	margin-right:10px;
	border:none;
	background: #ccc;
	font-family: arial;
	font-size: 14px;
	color: #111;
	line-height: 30px;
}

header .nav-login form button{
	float:left;
	width:60px;
	height:30px;	
	margin-right:10px;
	border:none;
	background: #f3f3f3;
	font-family: arial;
	font-size: 14px;
	color: #111;
	cursor:pointer;
}

header .nav-login form button:hover{	
	background: #ccc;	
}

header .nav-login a{
	display:block;
	width:60px;
	height:60px;
	border:none;
	float: left;
	cursor: pointer;
	font-family: arial;
	font-size: 16px;
	color: #111;
	line-height: 63px;
}

.main-container h2{
	padding-top:40px;
	font-family: arial;
	font-size: 40px;
	color: #111;
	line-height: 50px;
	text-align: center;
}



