.header>h2{
	font-size:40px;
	line-height: 45px;
	padding: 10px;
}

.header>h2{
	font-size:40px;
	line-height: 45px;
	padding: 10px;
}

.header>p{
	font-size:18px;
}

form{
	width:50%;
}
.logo{
	width:20%;
}